@font-face {
    font-family: 'Poppins Regular';
    src: url('/assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: 'Poppins Regular', 'Helvetica', 'Arial', sans-serif;
}


a {
    text-decoration: none;
    outline: none;
}

body {
    overflow: hidden;
}

button {
    background-color: #d06f5a;
    border: none;
    color: white;

    margin-top: 10px;

    font-weight: bold;

    height: 40px;
    pointer: cursor;
}
