@font-face {
    font-family: 'Poppins Regular';
    src: url('/assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: 'Poppins Regular', 'Helvetica', 'Arial', sans-serif;
}


a {
    text-decoration: none;
    outline: none;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 0.1s
}

.fade-enter, .fade-leave-active {
    opacity: 0
}
