$orange: #d06f5a;


@font-face {
    font-family: 'Poppins';
    src: url('/static/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/static/fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


html {
    font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif !important;
}

a {
    text-decoration: none;
    outline: none !important;
}



.btn-primary {
    background-color: $orange !important;
    border-color: $orange !important;
    box-shadow: none !important;
    outline: none !important;
    &.active {
        box-shadow: 0 !important;
    }
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
}



.fade-enter-active, .fade-leave-active {
    transition: opacity 0.1s
}

.fade-enter, .fade-leave-active {
    opacity: 0
}

strong {
    font-weight: 500 !important;
}
